altgraph==0.17
APScheduler==3.9.1
async-generator==1.10
asyncio==3.4.3
attrs==21.4.0
autopep8==1.5.5
Babel==2.9.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorhash==1.0.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
cycler==0.10.0
dnspython==2.1.0
email-validator==1.1.2
et-xmlfile==1.1.0
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
flask-blueprint==1.3.0
Flask-Dance==3.2.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MonitoringDashboard==3.1.1
Flask-SQLAlchemy==2.4.4
flask-view-counter==0.1.2
Flask-WTF==0.14.3
future==0.18.2
geojson==2.5.0
googletrans==3.1.0a0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageai==2.1.5
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.4.3
kiwisolver==1.3.1
lxml==4.6.4
macholib==1.14
MarkupSafe==1.1.1
matplotlib==3.3.3
MouseInfo==0.1.3
numpy==1.19.3
oauthlib==3.1.0
opencv-python==4.4.0.46
openpyxl==3.0.7
outcome==1.1.0
pandas==1.3.0
password-strength==0.0.3.post2
pefile==2021.5.24
phonenumbers==8.12.18
pikepdf==4.0.1.post1
Pillow==8.1.0
prettytable==2.2.0
psutil==5.9.0
PyAutoGUI==0.9.53
pycodestyle==2.6.0
pycparser==2.20
pydest==0.4.0
PyGetWindow==0.0.9
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz
pyinstaller-hooks-contrib==2021.2
PyMsgBox==1.0.9
pyOpenSSL==21.0.0
pyowm==3.1.1
pyparsing==2.4.7
pyPdf==1.13
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
pyshorteners==1.0.1
PySocks==1.7.1
python-dateutil==2.8.1
pytweening==1.0.4
pytz==2020.5
pywebio==1.4.0
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.4.0
scipy==1.5.4
selenium==4.1.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.3.22
SQLAlchemy-Utils==0.36.8
toml==0.10.2
tornado==6.1
trio==0.19.0
trio-websocket==0.9.2
tzlocal==2.0.0
ua-parser==0.10.0
urllib3==1.26.2
URLObject==2.4.3
user-agents==2.2.0
wcwidth==0.2.5
webdriver-manager==3.5.2
Werkzeug==1.0.1
wsproto==1.0.0
WTForms==2.3.3
