$background: #4682b4;
$background-hover: #3a698f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 10vh 0 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1em;
}
p {
  font-size: 1.2rem;
  line-height: 1.5;
}
// Details spoiler
details {
  width: Min(60rem, 95%);
  margin: 0.5rem 0;
  font-size: 1.5rem;
  summary ~ * {
    animation: none;
  }
  &[open] summary ~ * {
    animation: sweep 0.3s ease-in-out;
  }
}
summary {
  cursor: pointer;
  color: #fff;
  padding: 2rem;
  outline: none;
  background-color: $background;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $background-hover;
  }
}
.spoiler-content {
  padding: 0.5rem 0 0 0;
}

@keyframes sweep {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

// Accordion
.accordion {
  width: Min(95%, 60rem);
  position: relative;
  margin: 0 auto 1em;
}
.accordion-checkbox {
  position: absolute;
  inset: 0;
  visibility: 0;
}

label,
h2 {
  background: $background;

  color: white;
  font-size: 1.7rem;
  font-weight: bold;

  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $background-hover;
  }
  &::before,
  &::after {
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &::after {
    transform: translateY(-50%) rotate(-90deg);
  }
}
.accordion-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .accordion-content {
    padding: 2em;
    p {
      margin-bottom: 1em;
    }
    p:last-child {
      margin: 0;
    }
  }
}
.accordion-checkbox:checked {
  & ~ label::after {
    transform: translateY(-50%) rotate(0);
  }
  & ~ .accordion-content-wrapper {
    // This should be set to the size of the content or the biggest content
    max-height: 179px;
  }
}

// With Js
.accordion.open {
  h2::after {
    transform: translateY(-50%) rotate(0);
  }
}
