* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 10vh 0 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1em;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

details {
  width: Min(60rem, 95%);
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

details summary ~ * {
  -webkit-animation: none;
          animation: none;
}

details[open] summary ~ * {
  -webkit-animation: sweep 0.3s ease-in-out;
          animation: sweep 0.3s ease-in-out;
}

summary {
  cursor: pointer;
  color: #fff;
  padding: 2rem;
  outline: none;
  background-color: #4682b4;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

summary:hover {
  background-color: #3a698f;
}

.spoiler-content {
  padding: 0.5rem 0 0 0;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.accordion {
  width: Min(95%, 60rem);
  position: relative;
  margin: 0 auto 1em;
}

.accordion-checkbox {
  position: absolute;
  inset: 0;
  visibility: 0;
}

label,
h2 {
  background: #4682b4;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

label:hover,
h2:hover {
  background-color: #3a698f;
}

label::before, label::after,
h2::before,
h2::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

label::after,
h2::after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.accordion-content-wrapper {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.accordion-content-wrapper .accordion-content {
  padding: 2em;
}

.accordion-content-wrapper .accordion-content p {
  margin-bottom: 1em;
}

.accordion-content-wrapper .accordion-content p:last-child {
  margin: 0;
}

.accordion-checkbox:checked ~ label::after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.accordion-checkbox:checked ~ .accordion-content-wrapper {
  max-height: 179px;
}

.accordion.open h2::after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}
/*# sourceMappingURL=main.css.map */