// Colors
$color-background: #080c25;
$color-main: #f7f7f7;
$color-primary: #00ffc2;
$color-secondary: #f9a826;
$color-tertiary: #a6b2ec;
$color-danger: #e40c2b;

// Breakpoints
$breakpoint-burger: 47rem;
$breakpoint-home-columns: 60rem;
$breakpoint-accordion-wrapper: 60rem;
$breakpoint-mobile-width: 400px;
// Fonts
$ff-main: "IBM Plex Sans", sans-serif;
$ff-secondary: "Archivo", sans-serif;

// Font sizes
$ff-xl: clamp(1.4rem, 7.5vw, 8rem);
$ff-l: clamp(1.5rem, 4.3vw, 5rem);
$ff-m: clamp(1.2rem, 3.2vw, 3rem);
$ff-s: clamp(0.9rem, 3vw, 1.3rem);
$ff-xs: clamp(0.875rem, 3vw, 1.2rem);
$ff-xxs: clamp(0.7875rem, 2.7vw, 1.08rem);

// Transitions
$transition-duration: 0.3s;
$transition-main: all $transition-duration ease;
$transition-page-transition: 0.5s;
$tab-animation-duration: 0.3s;
$transition-animate-in: 0.5s;

// Popups
$popup-body-width: Min(95%, 60rem);
$popup-background: rgba(0, 0, 0, 0.9);
$transition-modal-window: all 0.5s ease-in-out;
$cross-size: 2em;

// Spoilers and accordions
$accordion-width: Min(95%, 40rem);
// Sizes
$container-width: Min(92%, 120rem);
$scrollbar-width: 0.5rem;
$header-size: 7rem;

%underline {
  $size: 0.1em;
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-size: 0 $size;
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: $transition-main;
  &:hover {
    color: $color-secondary;
    background-size: 100% $size;
  }
}
%btn {
  display: inline-block;
  padding: 0.75em 1.5em;

  font-family: "Archivo", sans-serif;
  background: transparent;
  outline: none;
  border-radius: 0.5em;
  transition: $transition-main;
}
%glassy {
  background-color: $color-background;
  @supports (backdrop-filter: blur(50px) saturate(200%)) {
    background-color: rgba($color: $color-background, $alpha: 0.5);
    backdrop-filter: blur(30px) saturate(50%);
  }
}
%glassy-section {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  @supports (backdrop-filter: blur(2px)) {
    backdrop-filter: blur(2px);
    background-color: rgba($color: $color-tertiary, $alpha: 0.1);
  }
}
