@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&family=Poppins&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

:root {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.7;
  color: #be93c5;
  background-color: #be93c5;
  background: linear-gradient(to right, #7bc6cc, #be93c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: min(5rem, 7vw);
  letter-spacing: 0.1em;
  text-align: center;
}

h2 {
  font-size: min(2.5rem, 5vw);
  line-height: 1.7;
  margin-bottom: 1em;
}

p {
  font-size: min(1.3rem, 3vw);
  margin-bottom: 1em;
  line-height: 1.7;
  font-weight: 400;
}

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 10vw;
}

[class*=parallax] {
  position: relative;
}

.parallax-background {
  background: url("nature.jpg") center/cover no-repeat fixed;
}
.parallax-background > * {
  z-index: 1;
}
.parallax-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent);
}

.square {
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  background-color: #be93c5;
  background: linear-gradient(45deg, #7bc6cc, #be93c5);
}

.parallax-rellax .rellax {
  --size: 7vw;
  position: absolute;
  width: var(--size);
  height: var(--size);
  z-index: -1;
}
.parallax-rellax .rellax:first-child {
  top: 30%;
  left: 10vw;
}
.parallax-rellax .rellax:first-child .square {
  transform: rotate(45deg);
}
.parallax-rellax .rellax:nth-child(2) {
  top: 40%;
  right: 20vw;
}
.parallax-rellax .rellax:nth-child(2) .square {
  transform: rotate(75deg);
}
.parallax-rellax .rellax:nth-child(3) {
  top: 60%;
  right: 10vw;
}
.parallax-rellax .rellax:nth-child(3) .square {
  transform: rotate(-60deg);
}
.parallax-rellax .rellax:nth-child(4) {
  top: 80%;
  left: 30vw;
}
.parallax-rellax .rellax:nth-child(4) .square {
  transform: rotate(110deg);
}
.parallax-rellax .rellax:nth-child(5) {
  top: 100%;
  left: 50vw;
}
.parallax-rellax .rellax:nth-child(5) .square {
  transform: rotate(150deg);
}
.parallax-rellax .square {
  width: 100%;
  height: 100%;
}

.parallax-mouse {
  overflow: hidden;
  background-color: #0f2027;
  background-image: linear-gradient(to left, #2c5364, #203a43, #0f2027);
}
.parallax-mouse .background {
  position: absolute;
  inset: 0;
}
.parallax-mouse .background .square {
  --size: 5vw;
  position: absolute;
  width: var(--size);
  height: var(--size);
  transform: translate(calc(var(--x-displacement) * var(--speed)), calc(var(--y-displacement) * var(--speed)));
}
.parallax-mouse .background .square:nth-child(0) {
  --speed: 0;
  top: 47%;
  left: 60%;
}
.parallax-mouse .background .square:nth-child(1) {
  --speed: 1;
  top: 77%;
  left: 69%;
}
.parallax-mouse .background .square:nth-child(2) {
  --speed: 2;
  top: 10%;
  left: 11%;
}
.parallax-mouse .background .square:nth-child(3) {
  --speed: 3;
  top: 52%;
  left: 41%;
}
.parallax-mouse .background .square:nth-child(4) {
  --speed: 4;
  top: 60%;
  left: 8%;
}
.parallax-mouse .background .square:nth-child(5) {
  --speed: 5;
  top: 22%;
  left: 53%;
}
.parallax-mouse .background .square:nth-child(6) {
  --speed: 6;
  top: 27%;
  left: 16%;
}
.parallax-mouse .background .square:nth-child(7) {
  --speed: 7;
  top: 55%;
  left: 30%;
}
.parallax-mouse h2 {
  z-index: 2;
}/*# sourceMappingURL=main.css.map */