{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>Views statistics</h2>
    <h3>Total views: {{ total_views }}</h3>
    <h3>Number of views per page</h3>
    <div class="table">
        <div class="row headers">
            <div class="cell">
                <p>Page</p>
            </div>
            <div class="cell">
                <p>Number of views</p>
            </div>
        </div>
        {% for key, value in views_per_page.items() %}
        <div class="row">
            <div class="cell">
                <p>{{ key }}</p>
            </div>
            <div class="cell">
                <p>{{ value }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>All feedback</h3>
    <div class="table">
        <div class="row headers">
            <div class="cell">
                <p>Name</p>
            </div>
            <div class="cell">
                <p>Email</p>
            </div>
            <div class="cell">
                <p>Feedback</p>
            </div>
        </div>
        {% for content in feedback %}
        <div class="row">
            <div class="cell">
                <p>{{ content.name }}</p>
            </div>
            <div class="cell">
                <p>{{ content.email }}</p>
            </div>
            <div class="cell">
                <p>{{ content.feedback }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}