{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>Get an advantage of internet</h2>
    <div class="column-2">
        <div class="image">
            <picture class="center" data-loading="lazy">
                <source data-srcset="/static/images/internet.svg" media="(min-width: 47rem)">
                <img data-src="/static/images/internet.svg" alt="Internet">
            </picture>
        </div>
        <article class="text">
            <h3>Table of contents</h3>
            <ul class="contents-list">
                <li><a href="#buttons" class="inline-link">Buttons</a></li>
                <li><a href="#design-mockups" class="inline-link">Design mockups</a></li>
                <li><a href="#design-tools" class="inline-link">Design tools</a></li>
                <li><a href="#vector-images" class="inline-link">Vector images</a></li>
                <li><a href="#photos-videos" class="inline-link">Photos and Videos</a></li>
                <li><a href="#icons" class="inline-link">Icons</a></li>
                <li><a href="#backgrounds" class="inline-link">Backgrounds</a></li>
                <li><a href="#learning" class="inline-link">Learning</a></li>
            </ul>
        </article>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="buttons">
    <h2>Buttons</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://getcssscan.com/css-buttons-examples" target="_blank">
                    CSS Scan
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/buttons/css-scan.png" alt="css-scan">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://cssbuttons.io" target="_blank">
                    CSSbuttons
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/buttons/cssbuttons.png"
                    alt="cssbuttons">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://jnkkkk.github.io/MoreToggles.css/" target="_blank">
                    More Toggles
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/buttons/moretoggles.png"
                    alt="moretoggles">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="design-mockups">
    <h2>Design mockups</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://creatoom.com" target="_blank">
                    Creatoom
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/mockups/creatoom.png" alt="Creatoom">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.mockupdaddy.com" target="_blank">
                    Mockup Daddy
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/mockups/mockup-daddy.png"
                    alt="Mockup Daddy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://mockup.zone" target="_blank">
                    Mockup Zone
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/mockups/mockup-zone.png"
                    alt="Mockup Zone">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://originalmockups.com" target="_blank">
                    Original Mockups
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/mockups/original-mockups.png"
                    alt="Original Mockups">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.mockupcloud.com" target="_blank">
                    Mockup Cloud
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/mockups/mockup-cloud.png"
                    alt="Mockup Cloud">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="design-tools">
    <h2>Design tools</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://mycolor.space" target="_blank">
                    My color space
                </a>
                <p>Creates a colour palette from one colour</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/mycolor-space.png"
                    alt="My color space">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://neumorphism.io" target="_blank">
                    Neumorphism.io
                </a>
                <p>Creates neumorphismic styling</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/neumorphosm.io.png"
                    alt="Neumorphism.io">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://coolors.co/contrast-checker/112a46-acc8e5" target="_blank">
                    Color Contrast Checker
                </a>
                <img class="swiper-lazy"
                    data-src="/static/images/helpful_websites/design_tools/color-contrast-checker.png" alt="Color Contrast
                    Checker">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://loading.io" target="_blank">
                    Loading.io
                </a>
                <p>A loading animation generator</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/loading.io.png"
                    alt="Loading.io">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://tinypng.com" target="_blank">
                    TinyPng
                </a>
                <p>Arguably, the best photo minifier</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/tinypng.png"
                    alt="TinyPng">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://letsenhance.io" target="_blank">
                    Let's enhance
                </a>
                <p>Increases the resolution of an image</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/letsenhance.png"
                    alt="TinyPng">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://responsively.app" target="_blank">
                    Responsively
                </a>
                <p>Allows to easily test your website on different screen sizes</p>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/design_tools/responsively.png"
                    alt="Responsively">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="vector-images">
    <h2>Vector images</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://undraw.co/illustrations" target="_blank">
                    Undraw
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/vector_images/undraw.png"
                    alt="Undraw">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://storyset.com/search" target="_blank">
                    StorySet
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/vector_images/storyset.png"
                    alt="StorySet">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://getavataaars.com" target="_blank">
                    GetAvataaars
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/vector_images/getavataaars.png"
                    alt="GetAvataaars">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://fresh-folk.com" target="_blank">
                    Fresh Folk
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/vector_images/fresh-folk.png"
                    alt="Fresh Folk">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="photos-videos">
    <h2>Photos and Videos</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.videvo.net" target="_blank">
                    Videvo
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/photos_videos/videvo.png"
                    alt="Videvo">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.pexels.com" target="_blank">
                    Pexels
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/photos_videos/pexels.png"
                    alt="Pexels">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://pixabay.com/ru/photos/" target="_blank">
                    Pixabay
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/photos_videos/pixabay.png"
                    alt="Pixabay">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://ru.freepik.com" target="_blank">
                    FreePik
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/photos_videos/freepik.png"
                    alt="FreePik">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://unsplash.com" target="_blank">
                    Unsplash
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/photos_videos/unsplash.png"
                    alt="https://unsplash.com">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="icons">
    <h2>Icons</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.flaticon.com" target="_blank">
                    Flaticon
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/flaticon.png" alt="Flaticon">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://icons8.com" target="_blank">
                    Icons8
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/icons8.png" alt="Icons8">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://heroicons.com" target="_blank">
                    Hero icons
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/heroicons.png"
                    alt="Hero icons">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://feathericons.com" target="_blank">
                    Feather Icons
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/feathericons.png"
                    alt="Feather Icons">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://ionic.io/ionicons" target="_blank">
                    IonIcons
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/ionicons.png" alt="IonIcons">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://fontawesome.com" target="_blank">
                    FontAwesome
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/fontawesome.png"
                    alt="FontAwesome">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.svgrepo.com" target="_blank">
                    SvgRepo
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/icons/svgrepo.png" alt="SvgRepo">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="backgrounds">
    <h2>Backgrounds</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="inline-link" href="https://bgjar.com" target="_blank">
                    BG Jar
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/backgrounds/bg-jar.png" alt="BG Jar">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://www.gradientmagic.com/browse" target="_blank">
                    Gradient Magic
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/backgrounds/gradient-magic.png"
                    alt="Gradient Magic">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://cssgradient.io/gradient-backgrounds/" target="_blank">
                    Gradient Backgrounds
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/backgrounds/gradient-backgrounds.png"
                    alt="Gradient Backgrounds">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
                <a class="inline-link" href="https://webgradients.com" target="_blank">
                    Web Gradients
                </a>
                <img class="swiper-lazy" data-src="/static/images/helpful_websites/backgrounds/webgradients.png"
                    alt="Web Gradients">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="glassy-section" data-scroll-section id="learning">
    <h2>Learning</h2>
    <h3>Coming soon!</h3>
</section>
{% endblock %}