{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>Get an advantage of internet</h2>
    <div class="column-2">
        <div class="image">
            <picture>
                <source srcset="/static/images/internet.svg" media="(min-width: 47rem)">
                <img src="/static/images/internet.svg" alt=Internet" loading="lazy">
            </picture>
        </div>
        <article class="text">
            <h3>Coming soon!</h3>
        </article>
    </div>
</section>
{% endblock %}