{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>Get an advantage of internet</h2>
    <div class="column-2">
        <div class="image">
            <picture class="center" data-loading="lazy">
                <source data-srcset="/static/images/internet.svg" media="(min-width: 47rem)">
                <img data-src="/static/images/internet.svg" alt="Internet">
            </picture>
        </div>
        <article class="text">
            <h3>Table of contents</h3>
            <ul class="contents-list" data-content-list>
                <template id="template-link">
                    <li><a class="inline-link"></a></li>
                </template>
            </ul>
        </article>
    </div>
</section>
<template id="template-section">
    <section class="glassy-section" data-scroll-section>
        <h2 data-header></h2>
    </section>
</template>
<template id="template-tab">
    <div class="center">
        <div class="tabs-wrapper full-width">
            <div class="tab-links-wrapper" data-tab-content></div>
        </div>
    </div>
</template>
<template data-button>
    <button class="tab-link"></button>
</template>
<template data-tab>
    <a class="tab-content" target="_blank">
        <h3 class="effect-box"></h3>
        <img>
    </a>
</template>
{% endblock %}