{% extends "layout.html" %}
{% block content %}
<section class="splash" data-scroll-section>
    <div class="splash-text text">
        <h1>It's your time to <span class="color-secondary">improve!</span></h1>
        <p>This website will help you understand the front end better. Here you can find tutorials for all major
            components and how to build them correctly! Don't miss your chance of boosting your skills!</p>
        <div class="btn-wrapper">
            <a href="/about" class="btn-link secondary filled">About the website</a>
            <a href="/tutorials" class="btn-link">All tutorials</a>
        </div>
    </div>
    <div class="image-wrapper">
        <img src="/static/images/premade.svg" alt="Pre-made web solutions">
    </div>
</section>
{% endblock %}