{% extends "layout.html" %}
{% block content %}
<ol class="cards-wrapper" data-scroll-section>
    <a class="card" href="/examples/custom-cursor">
        <h3>Custom Cursor</h3>
    </a>
    <a class="card" href="/examples/locomotive-scroll">
        <h3>Locomotive Scroll</h3>
    </a>
    <a class="card" href="/examples/scroll-revealing-navbar">
        <h3>Scroll-revealing navbar</h3>
    </a>
    <a class="card" href="/examples/floating-label">
        <h3>Floating label</h3>
    </a>
</ol>
{% endblock %}