{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>All tutorials</h2>
    <div class="center">
        <div class="floating-label-wrapper">
            <input type="text" class="floating-input" id="cards-search" placeholder="Search for tutorial">
            <label for="cards-search">
                <img data-loading="lazy" data-src="/static/images/my_icons/search.svg" alt="Search">
                Search for tutorial
            </label>
        </div>
    </div>
    <ol class="cards-wrapper">
        {% for tutorial in tutorials %}
        <a class="card" href="/examples/{{ tutorial['url'] }}">
            <div class="card-inner" data-tilt data-tilt-scale="1.05" data-tilt-max="15">
                <h3>{{ tutorial["name"] }}</h3>
            </div>
        </a>
        {% endfor %}
    </ol>
</section>
{% endblock %}