*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
:root {
  font-size: 16px;
}
// Button
body {
  background-color: rgb(1, 9, 49);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  min-height: 100vh;
}
.btn-fancy {
  font-size: 1.3rem;
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn-fancy::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0f2027;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn-fancy::before {
  content: "";
  background-image: linear-gradient(
    45deg,
    #fdbd55,
    #f983ff,
    #fdbd55,
    #f983ff,
    #fdbd55,
    #f983ff,
    #fdbd55,
    #f983ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn-fancy:hover::before {
  opacity: 1;
}

// Toast
p {
  font-size: 1rem;
  line-height: 1.5;
}
.toast {
  --toast-close-size: 1.5rem;
  --toast-displacement: -4em;
  --toast-size: 30rem;
  --toast-y: 5vh;
  --toast-x: 2vw;
  position: fixed;
  bottom: var(--toast-y);
  right: var(--toast-x);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(var(--toast-displacement));
  animation-name: toast-out;
  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  width: Min(calc(100% - var(--toast-right) * 2), var(--toast-size));
  background-color: #fff;
  color: #000;
  padding: 2em;
  border-radius: 0.5em;
  z-index: 10;
  .toast-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-bottom: 1em;
    svg {
      color: #f441a5;
      width: 2em;
      height: 2em;
    }
    .toast-heading {
      font-size: 1.2rem;
      font-weight: 900;
      margin-left: 0.5em;
    }
    [data-time] {
      display: block;
      margin-inline: auto 1em;
    }
    svg.toast-close {
      color: #000;
      width: var(--toast-close-size);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        transform: rotate(180deg);
      }
    }
  }
}
