{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
    <h2>Fullscreen hero section</h2>
    <article class="text">
        <p>Full-screen hero sections with a background image or video became a standard welcome screen on many websites.
            It is not
            complicated, but there are a few tricks and tips that I can show that will make your life easier.</p>
        <p>In HTML, you need to make a container with your background element (video or image - it does not matter) and
            the text
            wrapper. Note that if you want to have a video playing, you have to put <code class="html">autoplay</code>
            <code class="html">muted</code> and <code class="html">loop</code> attributes for
            everything to work accordingly. In addition, having a container for the elements above allows you to
            position the text
            elements in any way you want and align them with the width of other content on the page. Here is my example:
        </p>
        <pre><code class="html">
&lt;div class="hero-section" id="footer"&gt;
  &lt;video class="hero-background" src="https://joy.videvo.net/videvo_files/video/free/2019-03/large_watermarked/190111_08_BuildingsTraffic_Drone_09_preview.mp4" autoplay muted loop alt="city"&gt;&lt;/video&gt;
  &lt;div class="hero-text container"&gt;
    &lt;h2&gt;Goodbye to TOKIO&lt;/h2&gt;
    &lt;a class="button" href="#header"&gt;
      &lt;span class="text"&gt;Go to top hero&lt;/span&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
        <p>In CSS, you need to focus on a few things. Setting <code class="css">min-height: 100vh</code> instead of
            <code class="css">height</code> benefits small screens: no overflow if the text takes up more than the
            entire screen. Remember to set the <code class="css">position: relative</code> to the container: this will
            be needed for positioning background and background effects. Talking about them, if you want to have some
            filters like darkening or hue-rotation, you can add the extra layer of a pseudo-element between the text and
            the background by messing around with the <code class="css">z-index</code> or using <code
                class="css">isolation: isolate</code>. Finally, it is vital to stretch the background using <code
                class="css">width</code> and <code class="css">height</code> properties and to set <code
                class="css">top: 0</code> and <code class="css">left: 0</code>. This way, you can apply the <code
                class="css">object-fit</code> property, and it will work as expected.
        </p>
        <p>Here is a small tip: if you want to have a similar effect to <code
                class="css">background-attachment: fixed</code>, you can set <code
                class="css">clip-path: inset(0)</code> to the container and <code class="css">position: sticky</code> to
            your background:</p>
        <pre><code class="scss">
.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  clip-path: inset(0);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      transparent
    );
  }
  .hero-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  .hero-text {
    z-index: 2;
    h2 {
      color: white;
      font-size: 6rem;
      margin-bottom: 0.5em;
    }
  }
}

        </code></pre>
        <p>And that's it! It is a small yet important tutorial that might help you to improve your skills. Check out the
            CodePen if you want visualisation:</p>
        <div class="btn-wrapper"><a href="https://codepen.io/skyrimer/pen/LYmoepb" target="_blank"
                rel="noopener noreferrer" class="btn-link">See the CodePen</a></div>
    </article>
</section>
{% endblock %}