{% extends "layout.html" %}
{% block content %}
<section class="glassy-section" data-scroll-section>
  <h2>Toasts or Snackbars</h2>
  <article class="text">
    <p>To make the toasts, I am going to use the <a href="https://apvarun.github.io/toastify-js/" class="inline-link"
        target="_blank">Toastify library</a>. It is small, lightweight, and will serve all your wants and
      needs with a bit of JavaScript. I know it is possible to do the same with vanilla JavaScript, but the library will
      animate the toasts, which is relatively hard to do by yourself.</p>
    <p>In HTML, you need no special markup except connecting the library using a <code class="html">script</code> tag,
      but the elements raising toasts
      must be marked with any suitable method. I like to do it with data attributes because you can specify the values
      within
      them. In the example below, I am using a <code class="html">data-toast-raiser</code> to identify the node with
      toast content and <code class="html">data-toast-text</code>
      if the notification is simple and doesn't require any HTML.</p>
    <pre><code class="html">
&lt;div class="wrapper"&gt;
  &lt;button class="btn-fancy" data-toast-raiser data-toast-text="I want to inform you that you are amazing!"&gt;Show
    toast with text&lt;/button&gt;
  &lt;button class="btn-fancy" data-toast-raiser="toast-2"&gt;Show toast with markup&lt;/button&gt;
&lt;/div&gt;
&lt;template data-toast="toast-2"&gt;
  &lt;div class="toast" role="alert" aria-live="assertive" aria-atomic="true"&gt;
    &lt;div class="toast-header"&gt;
      &lt;h2 class="toast-heading"&gt;Toast №2&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="toast-body"&gt;
      &lt;p&gt;
        Our company is informing you that you are absolutely amazing! Keep learning!
      &lt;/p&gt;
      &lt;p&gt;Check out the tiger&lt;/p&gt;
      &lt;img src="https://c.tenor.com/NXvU9jbBUGMAAAAC/fireworks.gif" alt="fireworks"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;
          </code></pre>
    <p>Technically, you don't need to write any CSS because minimal styling is inserted via Javascript. However, I would
      still
      add some basic styling to match other content on your page. Here is an example:</p>
    <pre><code class="scss">
.toastify {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 2em;
  color: black;
  background-image: linear-gradient(
    102.1deg,
    rgba(96, 221, 142, 1) 8.7%,
    rgba(24, 138, 141, 1) 88.1%
  );
  max-width: 95vw;
  border-radius: 0.2em;
  .toast-close {
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
    margin-bottom: auto;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .toastify-avatar {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }
}

            </code></pre>
    <p>In JavaScript, you need to grab all the elements that raise the toasts (in my case, using the data-toast-raiser
      attribute) and add the event listener to them, which will raise the toast. It is done through the following syntax
      <code class="js">Toastify(toastConfig).showToast()</code>, where toastConfig is a dictionary with configuration.
      It is highly customisable, and
      I will show you only the most important settings
    </p>
    <ul class="text">
      <li>
        <p><code class="js">text</code> is the plain text that willto be displayed in the toast</p>
      </li>
      <li>
        <p><code class="js">avatar</code> is the image that will be displayed before the <code class="js">text</code>
        </p>
      </li>
      <li>
        <p><code class="js">node</code> is the node element that will be used as the toast content. <code
            class="js">node</code> has higher precedence then the settings above, so if <code class="js">node</code> is
          specified then <code class="js">text</code> and <code class="js">avatar</code> won't be displayed</p>
      </li>
      <li>
        <p><code class="js">duration</code> is duration for which the toast should be displayed. If set to <code
            class="js">-1</code>, then the toast will never disappear.</p>
      </li>
      <li>
        <p><code class="js">close</code> is a boolean value that determines whether the close icon is displayed or not
        </p>
      </li>
      <li>
        <p><code class="js">gravity</code> can be set to <code class="js">top</code> or <code class="js">bottom</code>,
          and determines vertical origin of toasts</p>
      </li>
      <li>
        <p><code class="js">position</code> can be set to <code class="js">left</code>, <code class="js">right</code> or
          <code class="js">center</code>, and determines horizontal origin of toasts
        </p>
      </li>
      <li>
        <p><code class="js">offset</code> is the additional offset to the default position. It is a dictionary that can
          take X and Y keys with any units.</p>
      </li>
    </ul>
    <p>Since I use text and node in the examples, I create a default config with the main settings inside. Depending on
      the
      data attributes of the toast raiser, I create a new dictionary with new parameters and pass the default using <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax"
        class="inline-link" target="_blank">spread syntax</a>. Finally, I pass this dictionary and raise the toast.</p>
    <pre><code class="js">
const toastDefaultConfig = {
  duration: -1,
  newWindow: true,
  close: true,
  gravity: "bottom",
  position: "right",
  offset: {
    y: "2em"
  },
  stopOnFocus: true
};
document.querySelectorAll("[data-toast-raiser]").forEach((toastRaiser) => {
  toastRaiser.addEventListener("click", ({ target }) => {
    const toastText = target.getAttribute("data-toast-text");
    let toastConfig = {};
    if (toastText) {
      toastConfig = {
        text: "I want to inform you that you are amazing!",
        avatar: "https://source.unsplash.com/50x50/?tiger",
        ...toastDefaultConfig
      };
    } else {
      toastConfig = {
        node: document
          .querySelector(
            `[data-toast=${target.getAttribute("data-toast-raiser")}]`
          )
          .content.cloneNode(true).children[0],
        ...toastDefaultConfig
      };
    }
    Toastify(toastConfig).showToast();
  });
});

            </code></pre>
    <p>That's it! Now you can easily inform your users about some urgent messages. Just in case you need, here is
      the example.</p>
    <div class="btn-wrapper">
      <a href="https://codepen.io/skyrimer/pen/XWEqMJO" class="btn-link" target="_blank">See the CodePen</a>
    </div>
  </article>
</section>
{% endblock %}