{% extends "layout.html" %}
{% block content %}
<section class="glassy-section example" data-scroll-section>
  <h2>Accordions and Spoilers</h2>
  <article class="text">
    <p>Spoiler is something between <a href="/examples/dropdown" class="inline-link">dropdowns</a> and <a
        href="/examples/smart-tabs" class="inline-link">tabs.</a> They also collapse under certain content like
      dropdowns, but in the opened state looks like tabs. Accordions are spoiler with only one element opened
      inside. They usually look like in the example below, and I will explain how to make them.</p>
    <div class="accordion-spoiler-wrapper">
      <div class="spoiler-wrapper">
        <h3>Spoiler</h3>
        <div class="spoiler">
          <div class="spoiler-toggler">
            <h3>The first section</h3>
          </div>
          <div class="spoiler-content-wrapper">
            <div class="spoiler-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
        <div class="spoiler">
          <div class="spoiler-toggler">
            <h3>The second section</h3>
          </div>
          <div class="spoiler-content-wrapper">
            <div class="spoiler-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
        <div class="spoiler">
          <div class="spoiler-toggler">
            <h3>The third section</h3>
          </div>
          <div class="spoiler-content-wrapper">
            <div class="spoiler-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-wrapper">
        <h3>Accordions</h3>
        <div class="accordion">
          <div class="accordion-toggler">
            <h3>The first section</h3>
          </div>
          <div class="accordion-content-wrapper">
            <div class="accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-toggler">
            <h3>The second section</h3>
          </div>
          <div class="accordion-content-wrapper">
            <div class="accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-toggler">
            <h3>The third section</h3>
          </div>
          <div class="accordion-content-wrapper">
            <div class="accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusantium maxime vel
                natus
                eos perferendis sequi distinctio nesciunt? Ipsam minima quo officiis officia ea nulla
                vero!
                Ullam eos quibusdam excepturi!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>There are several ways to achieve similar results. I will show all the mojor onces explain their pros and
      cons. Here is the table of contents:</p>
    <ul class="contents-list">
      <li><a href="#spoiler-details" class="inline-link">Spoiler using details tag</a></li>
      <li><a href="#spoiler-css" class="inline-link">Spoiler using only CSS</a></li>
      <li><a href="#spoiler-js" class="inline-link">Spoiler using JavaScript</a></li>
      <li><a href="#accordion-css" class="inline-link">Accordion using CSS</a></li>
      <li><a href="#accordion-js" class="inline-link">Accordion using JavaScript</a></li>
    </ul>
  </article>
  <section id="spoiler-details" class="text">
    <h3>Spoiler using details tag</h3>
    <p>It is the simpliest way to make the spoiler, but it also the least customisable and the least accessable.</p>
    <p>In Html, you need to have a <code class="html">details</code> tag wrapping <code class="html">summary</code>.
      Clicking on <code class="html">summary</code> will cause all the content after it, but I would still
      recomend to wrap the collapsing content for easier styling.</p>
    <pre><code class="html">
&lt;details&gt;
  &lt;summary&gt;Click on me to see more content&lt;/summary&gt;
  &lt;div class="spoiler-content"&gt;
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum vitae quibusdam accusantium sapiente deserunt
    quae, enim sint, amet commodi inventore nihil id laudantium quidem, eius assumenda temporibus incidunt? Soluta,
    rem?
  &lt;/div&gt;
&lt;/details&gt;
        </code></pre>
    <p>Then, you need to style it however you want. In order to add transition effect on the collapsing content,
      there is <code class="css">details[open] summary ~ *</code> selector, however, you can not change the
      properies directly. You have to add a css animation, and change the properies you want using animation. Here
      is the example of SCSS code.</p>
    <pre><code class="scss">
details {
  width: Min(60rem, 95%);
  margin: 0.5rem 0;
  font-size: 1.5rem;
  summary ~ * {
    animation: none;
  }
  &[open] summary ~ * {
    animation: sweep 0.3s ease-in-out;
  }
}
summary {
  cursor: pointer;
  color: #fff;
  padding: 2rem;
  outline: none;
  background-color: $background;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $background-hover;
  }
}
.spoiler-content {
  padding: 0.5rem 0 0 0;
}

@keyframes sweep {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
        </code></pre>
    <p>This leads to several issues. Firstly, if user opens the same <code class="html">details</code> tag for more
      than 1 time, the animation will not play. It can be fixed by setting <code class="css">animation: none</code>,
      when the content is not collapsed. The second issue, is that the animation will be played only when the user
      opens, but not when the user closes sloiler. It might be quite desturbing, and it also makes the content
      under the spoiler flick down each time the user opens or closes the spoiler.Unfortunately, there is not way
      to fix it by <time datetime="2022-03-13">13.03.2022</time>. Moreover, if you need to support older browsers,
      using this
      method might be a bit problematic, because it supports 93.54% of all devices.</p>
    </p>
  </section>
  <section id="spoiler-css" class="text">
    <h3>Spoiler using only CSS</h3>
    <p>This method does almost the same as the previous one, and it requires a bit more html, but also allows more
      flexible transition customisation.</p>
    <p>This method is based on <code class="html">input</code>. Instead of summary, you need to have an label that
      refers to the input. This way, if you click on the <code class="html">label</code>, the checkbox will be
      checked, and using css
      selectors, you will be able to change the properties of the content.</p>
    <pre><code class="html">
&lt;div class="spoiler-wrapper"&gt;
  &lt;div class="spoiler"&gt;
    &lt;input checked class="spoiler-checkbox" type="checkbox" name="spoiler-1" id="accordion-1"&gt;
    &lt;label for="spoiler-1"&gt;This is the first spoiler&lt;/label&gt;
    &lt;div class="spoiler-content-wrapper"&gt;
      &lt;div class="spoiler-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate nesciunt
        possimus dolorum cumque ut, vel sequi explicabo culpa. Beatae dolorum enim consequatur at
        ipsa atque neque cumque, asperiores modi quis.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="spoiler"&gt;
    &lt;input class="spoiler-checkbox" type="checkbox" name="spoiler-1" id="spoiler-2"&gt;
    &lt;label for="spoiler-2"&gt;This is the second spoiler&lt;/label&gt;
    &lt;div class="spoiler-content-wrapper"&gt;
      &lt;div class="spoiler-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla
        adipisci impedit eveniet minima! Tempora quo ex error fugiat odit? Dolores eligendi
        veritatis alias atque iure a provident necessitatibus?&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="spoiler"&gt;
    &lt;input class="spoiler-checkbox" type="checkbox" name="spoiler-1" id="spoiler-3"&gt;
    &lt;label for="spoiler-3"&gt;This is the third spoiler&lt;/label&gt;
    &lt;div class="spoiler-content-wrapper"&gt;
      &lt;div class="spoiler-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate nesciunt
        possimus dolorum cumque ut, vel sequi explicabo culpa. Beatae dolorum enim consequatur at
        ipsa atque neque cumque, asperiores modi quis.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
    <p>In css, it is important to make the checkbox invisible with <code class="css">visibility: 0</code>, and
      stretch it on the entire dementions of the label using <code class="css">inset: 0</code>. Everything else is
      just regular styling to make it a bit more visually appealing.</p>
    <p>But the reason why you would want to use this method instead of <code class="html">details</code> is
      animations. Using <code class="css">input:checked ~</code> allows to change any content and any of its
      properties. The most interesting part is that you can animate the height of the content by setting <code
        class="css">max-height: 0</code> in hidden state, and change the values when the checks input. However,
      it might cause issues if the content is different in different tabs. Setting fixed value would hide some
      content if the tab is too big and make the animation for small tabs too fast and disproportional. Only
      JavaScript can help to fix it.</p>
    <pre><code class="scss">
.spoiler {
  width: Min(95%, 60rem);
  position: relative;
  margin: 0 auto 1em;
}
.spoiler-checkbox {
  position: absolute;
  inset: 0;
  visibility: 0;
}

label {
  background: $background;
  
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $background-hover;
  }
  &::before,
  &::after {
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &::after {
    transform: translateY(-50%) rotate(-90deg);
  }
}
.spoiler-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .spoiler-content {
    padding: 2em;
    p {
      margin-bottom: 1em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.spoiler-checkbox:checked {
  & ~ label::after {
    transform: translateY(-50%) rotate(0);
  }
  & ~ .spoiler-content-wrapper {
    // This should be set to the size of the content or the biggest content
    max-height: 179px;
  }
}
        </code></pre>
  </section>
  <section id="spoiler-js" class="text">
    <h3>Spoiler using JavaScript</h3>
    <p>As per usual, almost all JavaScript solution make you write more code, but it allows you the most
      flexibility. Only JavaScript can fix the problem with different heights of content.</p>
    <p>In html, you need to have structure similar to CSS only solution, but replace <code class="html">input</code>
      and <code class="html">label</code> with the the toggler. Here is how it looks:</p>
    <pre><code class="html">
&lt;div class="accordion-wrapper"&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;This is the first accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;This is the second accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;The third accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
    <p>In CSS, you need to have similar to CSS solution styling, but changin <code class="css">input:checked</code>
      to <code class="css">.spoiler.open</code>, and replace <code class="html">label</code> styling with styling
      for your toggle.</p>
    <pre><code class="scss">
.spoiler {
  width: Min(95%, 60rem);
  position: relative;
  margin: 0 auto 1em;
}

h3 {
  background: $background;
  
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $background-hover;
  }
  &::before,
  &::after {
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &::after {
    transform: translateY(-50%) rotate(-90deg);
  }
}
.spoiler-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .spoiler-content {
    padding: 2em;
    p {
      margin-bottom: 1em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.spoiler.open {
  h2::after {
    transform: translateY(-50%) rotate(0);
  }
}
        </code></pre>
    <p>Finally, you need to add JavaScript that will animate the spoiler. For each toggler, we add an event
      listener, that will open its spoiler, or close it, if it is already opened. In order to do it, we find
      height of the each spoiler's content and set it to the data attribute.</p>
    <p>In open/close function, add/remove the animation class and change the <code class="css">max-height</code> for
      the content to smoothly go in or go out. That's it!</p>
    <pre><code class="js">
const spoilersContent = document.querySelectorAll(".spoiler-content");
const openedSpoiler = document.querySelector(".spoiler.open");
const spoilerTogglers = document.querySelectorAll(".spoiler-toggler");
const activeClass = "open";

const closeSpoiler = (spoiler) => {
  spoiler.querySelector(".spoiler-content-wrapper").style.maxHeight = 0;
  spoiler.classList.remove(activeClass);
};

const openSpoiler = (spoiler) => {
  spoiler.classList.add(activeClass);
  const spoilerContent = spoiler.querySelector(".spoiler-content-wrapper");
  spoilerContent.style.maxHeight = spoilerContent.dataset.contentWidth;
};

// Define the height of the content and sets it as data attribute
spoilersContent.forEach((content) => {
  content.parentElement.dataset.contentWidth = content.offsetHeight + "px";
});

// If there arer spoilers that has to be opened by default
if (openedSpoiler) openSpoiler(openedSpoiler);

// Adding event listeners for togglers
spoilerTogglers.forEach((toggler) => {
  toggler.addEventListener("click", (event) => {
    const togglerParent = toggler.parentElement;
    if (togglerParent.classList.contains(activeClass)) {
      closeSpoiler(togglerParent);
    } else {
      openSpoiler(togglerParent);
    }
  });
});
        </code></pre>
  </section>
  <section id="accordion-css" class="text">
    <h3>Accordion using CSS</h3>
    <p>The only difference between the spoiler is in the type of <code class="html">input</code>. Change <code
        class="html">&lt;input type="checkbox"&gt;</code> to <code class="html">&lt;input type="radio"&gt;</code></p>

    <pre><code class="html">
&lt;div class="accordion-wrapper"&gt;
  &lt;div class="accordion"&gt;
    &lt;input checked class="accordion-checkbox" type="radio" name="accordion-1" id="accordion-1"&gt;
    &lt;label for="accordion-1"&gt;This is the first accordion&lt;/label&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
       &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla
       adipisci impedit eveniet minima! Tempora quo ex error fugiat odit? Dolores eligendi
       veritatis alias atque iure a provident necessitatibus?&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;input class="accordion-checkbox" type="radio" name="accordion-1" id="accordion-2"&gt;
    &lt;label for="accordion-2"&gt;This is the second accordion&lt;/label&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla
        adipisci impedit eveniet minima! Tempora quo ex error fugiat odit? Dolores eligendi
        veritatis alias atque iure a provident necessitatibus?&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;input class="accordion-checkbox" type="radio" name="accordion-1" id="accordion-3"&gt;
    &lt;label for="accordion-3"&gt;This is the third accordion&lt;/label&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla
        adipisci impedit eveniet minima! Tempora quo ex error fugiat odit? Dolores eligendi
        veritatis alias atque iure a provident necessitatibus?&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
  </section>
  <section id="accordion-js" class="text">
    <h3>Accordion using JavaScript</h3>
    <p>To make an accordion out of spoiler, you just need to change classes in html and css from <code
        class="html">*spoiler*</code> to <code class="html">*accordion*</code>. Below you can see an example of
      html.</p>
    <pre><code class="html">
&lt;div class="accordion-wrapper"&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;This is the first accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;This is the second accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion"&gt;
    &lt;div class="accordion-toggler"&gt;
      &lt;h2&gt;The third accordion&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="accordion-content-wrapper"&gt;
      &lt;div class="accordion-content"&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus magnam nulla adipisci impedit eveniet
        minima! Tempora quo ex error fugiat odit? Dolores eligendi veritatis alias atque iure a provident necessitatibus?
        &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
    <p>In JavaScript, the only thing you need to change is to close opened accordion, before opening the new one.
      Note: choosing the active accordion by selecting the parent element of the toggler, not the <code
        class="js">document</code>. If you will user <code class="js">document</code> it will always select the
      first opened accordion in the document, which is not what you want.</p>
    <pre><code class="js">
const spoilersContent = document.querySelectorAll(".accordion-content");
const openedAccordion = document.querySelector(".accordion.open");
const activeClass = "open";
const animationDuration = 300;

const closeAccordion = (accordion) => {
  accordion.querySelector(".accordion-content-wrapper").style.maxHeight = 0;
  accordion.classList.remove(activeClass);
}
};

const openAccordion = (accordion) => {
  accordion.classList.add(activeClass);
  const accordionContent = accordion.querySelector(".accordion-content-wrapper");
  accordionContent.style.maxHeight = accordionContent.dataset.contentWidth;
};

spoilersContent.forEach((content) => {
  content.parentElement.dataset.contentWidth = content.offsetHeight + "px";
});

if (openedAccordion) openAccordion(openedAccordion);

const accordionTogglers = document.querySelectorAll(".accordion-toggler");
  accordionTogglers.forEach((toggler) => {
  toggler.addEventListener("click", (event) => {
    const togglerParent = toggler.parentElement;
    const openedAccordion = togglerParent.parentElement.querySelector(".accordion.open");
    if (openedAccordion == togglerParent) {
      closeAccordion(togglerParent);
    } else {
      closeAccordion(openedAccordion);
      openAccordion(togglerParent);
    }
  });
});
        </code></pre>
  </section>
  <p>This is everything you need to know about spoiler and accordions! Hopefully, you aren't overwellmed with all
    different ways to do the same thing, because each way serves its own purpose.</p>
  <div class="btn-wrapper">
    <a href="https://codepen.io/skyrimer/pen/OJvZWWV" class="btn-link" target="_blank">See the CodePen</a>
  </div>
</section>
{% endblock %}